
<% console.log(waterproofingBasecoats.query); %>
<div class="container">
 <h2>Material Waterproofing Basecoat costs</h2>

<p>There are  <%= waterproofingBasecoats.query.length %> waterproofing basecoats. <br/>
<a href="create.ejs">Add a new one.</a></p>

<table class="table" border="1">
    <thead>
      <tr>
        <th>Name</th>
        <th>Display Order</th>
        <th>Price</th>
        <th>Unit</th>
       <th>Actions</th>
    </tr>
    </thead>
    <tbody>
<% for (var i = 0; i < waterproofingBasecoats.query.length; i++) { %>
         <tr>
            <td><%=  waterproofingBasecoats.query[i].name %></td>
            <td><%=  waterproofingBasecoats.query[i].displayorder %></td>
            <td><%=  waterproofingBasecoats.query[i].price %></td>
            <td><%=  waterproofingBasecoats.query[i].unit %></td>
            <td>Delete  Details  Edit</td>
         </tr>
         <% } %>
</tbody>
</table>
</div>
