<br/>
<br/>
<h2>Confirm deletion of labor</h2>

<br/>
<br/>
<br/>
<br/>
<p>Item

<p>ID              :	<%=  estimatePartLabor._id %></p>
<p>type 		   :	<%=  estimatePartLabor.type %></p>
<p>count 		   :	<%=  estimatePartLabor.count %></p>
<p>hoursPerPerson  :	<%=  estimatePartLabor.hoursPerPerson %></p>
<p>dollarsPerHour  :	<%=  estimatePartLabor.dollarsPerHour %></p>
<p>nightsPerPerson :	<%=  estimatePartLabor.nightsPerPerson %></p>
<p>costPerNight    :	<%=  estimatePartLabor.costPerNight %></p>
	 
</p>
 
<br/>
<form method="get" action="/estimatePartLabor">

	<input type="submit" value="Return to list" class="btn btn-caution" />
	
</form>
<br/>
<form method="POST" action="/estimatePartLabor/delete/<%= estimatePartLabor._id %>">
	<input type="submit" value="Delete this item" class="btn btn-danger pull-right" />
</form>
<!--This view is managed by Team 3-10-->
<!--Vineetha Boppishetty-->
<!--Renu Kappara-->