<% console.log(roofingBasecoats.query); %>
<div class="container">
 <h2>Material roofing basecoat costs</h2>

<p>There are  <%= roofingBasecoats.query.length %> roofing basecoats. <br/>
<a href="roofingBasecoat/create"><button type="button" class="btn btn-default"> Add a new one. </button></a></p>

<table class="table" border="1" id="t13">
    <thead>
      <tr>
      <th>ID</th>
        <th>Name</th>
        <th>Display Order</th>
        <th>Price</th>
        <th>Unit</th>
       <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <% count=0; %>
<% for (var i = 0; i < roofingBasecoats.query.length; i++) { %>
         <tr> <% count++; %>
         <td>
							<%=  roofingBasecoats.query[i]._id %>
						</td>
            <td><%=  roofingBasecoats.query[i].name %></td>
            <td><%=  roofingBasecoats.query[i].displayorder %></td>
            <td><%=  roofingBasecoats.query[i].price %></td>
            <td><%=  roofingBasecoats.query[i].unit %></td>
            <td>
						<a href="roofingBasecoat/delete/<%=  count%>">	<button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Delete </button></a> 
            <a href="roofingBasecoat/details/<%=  count%>">	<button type="button" class="btn btn-info"> <span class="glyphicon glyphicon-list-alt"></span> Details </button></a> 
						<a href="roofingBasecoat/edit/<%=  count%>">	<button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-edit"></span> Edit </button></a> 
						</td>
         </tr>
         <% } %>
</tbody>
</table>
</div>
<!-- This view is managed by team 3-13 -->
<!--  Gajula, Vineeth -->
<!--  Emani, Venkata Sainath Reddy -->
