<br/>
<br/>
<h2>Details for Aggregate Parts estimate</h2>
<br/>
<br/>

<p>Item
	<%=  estimatePartAggregate._id %>
</p>

<p>
Is Used? : <%=  estimatePartAggregate.isUsed %>
</p>

<p>
Aggregate Type Selection :	<%=  estimatePartAggregate.aggregateTypeSelection %> 
</p>
<p>
	Aggregate Material Selection : <%=  estimatePartAggregate.aggregateMaterialSelection %>
</p>
<p>
	Coverage Sq per Ft : <%=  estimatePartAggregate.coverageSqFt %>
</p>
<p>
	<%=  estimatePartAggregate.subtotal %>
</p>

<br/>

<form method="get" action="/estimatePartAggregate">
	<input type="submit" value="Return to list" class="btn btn-caution" />
</form>

<!--- The view is maintained by team R9 -->
<!--- Upashana Ghimire -->
<!--- Lohita Vanga Reddy -->
