h2>Edit Square Aggregate</h2>
<br/>
<br/>
<a href="/estimatePartAggregate" class="btn btn-info" >Return to list</a>
<br/><br/>
<form method="POST" action="/estimatePartAggregate/save/<%= estimatePartAggregate._id %>">
<table class="table table-hover table-bordered">
    <tr><th>ID</th> <td> <%= estimatePartAggregate._id %>  </td></tr>
	<tr><th>isUsed?</th> <td><input type="text" class="form-control" name="description" value="<%= estimatePartAggregate.isUsed %>">  </input></td></tr>
	<tr><th>Type</th> <td><input type="text" class="form-control" name="length" value="<%= estimatePartAggregate.aggregateTypeSelection  %>"> </input></td></tr>
	<tr><th>Material</th> <td><input type="text" class="form-control" name="width" value="<%= estimatePartAggregate.aggregateMaterialSelection %>"> </input></td></tr>
	<tr><th>coverageSqFt</th> <td><input type="number" class="form-control" name="width" value="<%= estimatePartAggregate.coverageSqFt %>"> </input></td></tr>
	<tr><th>Subtotal</th> <td><input type="number" class="form-control" name="width" value="<%= estimatePartAggregate.subtotal %>"> </input></td></tr>


	<!-- <tr><th>Dollars Per Mile</th> <td><input type="text" value="<%= estimatePartAggregates.query[0].sqft %>"> </input></td></tr> -->
	<tr><td colspan="2"> 
		<div class="row">
			<div class="col-md-2"> 
				<!-- <a href="/estimatePartAggregate" class="btn btn-info" > Return to list</a> -->
			</div>
			<div class="col-md-5"> 
					<button type="submit"  class="btn btn-success pull-right" > Save this item</button>
			</div>
		</div>
		</td>
	</tr>
</table>
</form>