
<% console.log(estimatePartAggregates.query); %>
<div class="container">
 <h2>All entries</h2>

<p>There are  <%= estimatePartAggregates.query[0].entries.length %> entries. <br/>

				<a href="estimatePartAggregate/create">Add a new one.</a></p>

<table class="table" border="1">
    <thead>
      <tr>
      <th>ID</th>
        <th>isUsed?</th>
        <th>Type</th>
        <th>Material</th>
        <th>coverageSqFt</th>
        <th>Subtotal</th>
       <th>Actions</th>
      
    </tr>
    </thead>
    <tbody>

<% for (var i = 0; i < estimatePartAggregates.query.length; i++) { 
    
     for(var j=0; j<estimatePartAggregates.query[i].entries.length;j++){
        var entry = estimatePartAggregates.query[i].entries[j];
        
      %>
        <tr>
            <td> <%= entry._id %></td>
            <td> <%= entry.isUsed %></td>
            <td> <%= entry.aggregateTypeSelection %></td>
            <td> <%= entry.aggregateMaterialSelection %></td>
            <td> <%= entry.coverageSqFt %></td>
            <td> <%= entry.subtotal %></td>

            <td>
            <a href="estimatePartAggregate/delete/<%=  entry._id %>"> Delete </a> 
							<a href="estimatePartAggregate/details/<%= entry._id %>"> Details </a> 
							<a href="estimatePartAggregate/edit/<%=    entry._id %>"> Edit </a>
            </td>
         </tr>
         <% } %>
         <% } %>
            
</tbody>
</table>
</div>

<!--- The view is maintained by team R9 -->
<!--- Upashana Ghimire -->
<!--- Lohita Vanga Reddy -->
