<br/>

<br/>
<h2>Create a new default mileage rate</h2>
<p>There are currently
	<%= mileageRates.query.length %> historical mileage rates. </p>
<br/>
<% 
maxID=0; 
for (let i=0; i<mileageRates.query.length; i++) {
    if(mileageRates.query[i]._id > maxID) {
        maxID=mileageRates.query[i]._id;
        }
}
maxRate=0; 
for (let i=0; i<mileageRates.query.length; i++) {
    if(mileageRates.query[i].dollarsPerMile > maxRate) {
        maxRate=mileageRates.query[i].dollarsPerMile;
        }
}

%>
	<p>The largest ID is
		<%= maxID %>. </p>

	<div class="content">
		<div>
			<form name="mileageRate" method="POST" action="/mileageRate/save" + _id.value>

				<div class="form-group" id=frm>
					<label for="_id">ID</label>
					<input type="number" class="form-control" id="_id" name="_id" value="<%= maxID+1 %>" required readonly>
				</div>

				<div class="form-group">
					<label for="startDate">Start Date</label>
					<input type="date" class="form-control" id="startDate" name="startDate" value="<%= "2016-01-01"  %>" required>
				</div>

				<div class="form-group">
					<label for="dollarsPerMile">Dollars Per Mile ($USD)</label>
					<input type="number" class="form-control" id="dollarsPerMile" name="dollarsPerMile" value="<%= maxRate %>"
						required>
				</div>

				<div class="form-group">
					<input type="submit" value="Post new entry" class="btn btn-primary" />
				</div>
			</form>
			<br/>
			<form method="get" action="/mileageRate">
				<input type="submit" value="Return to list" class="btn btn-caution" />
			</form>
		</div>
	</div>