<br/>
<br/>
<h2>Create a new estimate part flooring product</h2>
<p>There are currently
	<%= estimatePartFloorings.query.length %> Estimate part flooring. </p>
<br/>
<% 
maxID=0; 
for (var i=0; i<estimatePartFloorings.query.length; i++) {
    if(estimatePartFloorings.query[i]._id > maxID) {
        maxID=estimatePartFloorings.query[i]._id;
        }
}
%>
	<p>The largest ID is
		<%= maxID %>. </p>
	
	<div class="content">
		<div>
			<form name="estimatePartFlooring" method="POST" action="/estimatePartFlooring/save" + _id.value>

				<div class="form-group" id=frm>
					<label for="_id">ID</label>
					<input type="number" class="form-control" id="_id" name="_id" value="<%= maxID+1 %>" required readonly>
				</div>
				
				<div class="form-group">
					<label for="floorSystemType">Floor System Type</label>
					<select id="floorSystemType" name="floorSystemType" value="Epoxy" class="form-control selcls">						
						<option> Epoxy</option>
						<option> Decorative Expoxy</option>
						<option> Urethane</option>
					</select>
					
				</div>

				<div class="form-group">
					<label for="usesUrethane">Uses Erethane ?</label>
					<input type="checkbox" class="form-control" id="usesUrethane" name="usesUrethane">
				</div>

				
				<div id="flooringOptions">
				<div class="form-group">
					<label for="urethaneProductSelection">Urethane Product Selection (<%= flooringCoatings.query.length %>):</label>
					<select name="urethaneProductSelection" class="form-control selcls">
	 					<%  for (var i = 0; i < flooringCoatings.query.length ; i++){  %>
	 						<option value="<%= flooringCoatings.query[i].name %>"><%= flooringCoatings.query[i].name %></option>
						<%    }  %>
					</select>
				</div>
				</div>

				<div class="form-group">
					<label for="urethaneCoverageSqFt">Urethane Coverage SqFt:</label>
					<input type="number" class="form-control" id="urethaneCoverageSqFt" name="urethaneCoverageSqFt" default="100" min="80" max="200" required>
				</div>

			   <div class="form-group">
					<label for="usesEpoxy">Uses Epoxy ?</label>
					<input type="checkbox" class="form-control" id="usesEpoxy" name="usesEpoxy">
				</div>

				
				<div id="flooringOptions2">
				<div class="form-group">
					<label for="expoxyProductSelection">Epoxy Product Selection (<%= flooringCoatings.query.length %>):</label>
					<select name="expoxyProductSelection" class="form-control selcls">
	 					<%  for (var i = 0; i < flooringCoatings.query.length ; i++){  %>
	 						<option value="<%= flooringCoatings.query[i].name %>"><%= flooringCoatings.query[i].name %></option>
						<%    }  %>
					</select>
				</div>
				</div>

				<div class="form-group">
					<label for="expoxyCoverageSqFt">Epoxy Coverage SqFt:</label>
					<input type="number" class="form-control" id="expoxyCoverageSqFt" name="expoxyCoverageSqFt" default="150" min="100" max="400" required>
				</div>

			

				<div class="form-group">
					<input type="submit" value="Post new entry" class="btn btn-primary" />
				</div>
			</form>
			<br/>
			<form method="get" action="/estimatePartFlooring">
				<input type="submit" value="Return to list" class="btn btn-caution" />
			</form>
		</div>
	</div>

<!--This model is managed by Team 3-5
Sai Rama Rao Nayeni
AjithReddy Pati -->