<br/>
<br/>
<h2>Confirm deletion of flooring</h2>
<br/>
<br/>
<p>Item -
	<%=  estimatePartFlooring._id %>
</p>
<p>Floor type - 
	<%=  estimatePartFlooring.floorSystemType %>
</p>
<p>usesUrethane - 
	<%=  estimatePartFlooring.usesUrethane %>
</p>
<p>urethaneProductSelection - abcd
	<%=  estimatePartFlooring.urethaneProductSelection %>
</p>
<p>urethaneCoverageSqFt - 
	<%=  estimatePartFlooring.urethaneCoverageSqFt %>
</p>
<p>usesEpoxy - 
	<%=  estimatePartFlooring.usesEpoxy %>
</p>
<p>expoxyProductSelection - abcd
	<%=  estimatePartFlooring.expoxyProductSelection %>
</p>
<p>expoxyCoverageSqFt - 
	<%=  estimatePartFlooring.expoxyCoverageSqFt %>
</p>
<p>Sub totals - 
	<%=  estimatePartFlooring.subtotal %>
</p>

<br/>
<form method="get" action="/estimatePartFlooring">
	<input type="submit" value="Return to list" class="btn btn-caution" />
</form>
<br/>
<form method="POST" action="/estimatePartFlooring/delete/<%= estimatePartFlooring._id %>">
	<input type="submit" value="Delete this item" class="btn btn-danger pull-right" />
</form>
<!--This  model is managed by Team 3-5
 Sai Rama Rao Nayeni
 AjithReddy Pati -->

