<br/>
<br/>
<h2>Details of flooring</h2>
<br/>
<br/>
<p>ID -
	<%=  estimatePartFlooring._id %>
</p>
<p>Floor type -
	<%=  estimatePartFlooring.floorSystemType %>
<p>Uses Urethane ? -
	<%=  estimatePartFlooring.usesUrethane %>
</p>
<p>Urethane Product Selection -
	<%=  estimatePartFlooring.urethaneProductSelection.name %>
</p>
<p>Urethane Coverage SqFt -
	<%=  estimatePartFlooring.urethaneCoverageSqFt %>
</p>
<p>Uses Epoxy ? -
	<%=  estimatePartFlooring.usesEpoxy %>
</p>
<p>Expoxy Product Selection
	<%=  estimatePartFlooring.expoxyProductSelection.name %>
</p>
<p>expoxyCoverageSqFt - 
	<%=  estimatePartFlooring.expoxyCoverageSqFt %>
</p>

<br/>
<form method="get" action="/estimatePartFlooring">
	<input type="submit" value="Return to list" class="btn btn-caution" />
</form>
<br/>



<!--This model is managed by Team 3-5
Sai Rama Rao Nayeni
AjithReddy Pati -->
