

<% console.log(estimatePartFloorings.query); %>
<div class="container">
 <h2>All entries</h2>

<p>There are  <%= estimatePartFloorings.query.length %> entries. <br/>
<a href="estimatePartFlooring/create">Add a new one.</a></p>

<table class="table" border="1">
    <thead>
      <tr>
           <th>Subtotal</th>
       <th>Actions</th>
    </tr>
    </thead>
    <tbody>
<% for (var i = 0; i < estimatePartFloorings.query.length; i++) { %>
         <tr>
            <td><%=  estimatePartFloorings.query[i].subtotal %></td>
<<<<<<< HEAD
            <td>
<<<<<<< HEAD
            
            <a href="estimatePartFlooring"/delete/<%= estimatePartFloorings.query[i] %>">Delete </a>
            <a href="estimatePartFlooring"/details/<%= estimatePartFloorings.query[i]%>"> Details </a>
             <a href="estimatePartFlooring"/edit/<%= estimatePartFloorings.query[i]%>"> Edit </a> 
             
             </td>
=======
            <a href="estimatePartFlooring/delete"<%= estimatePartFloorings.query[i].id %>"> Delete </a> | 
            <a href="estimatePartFlooring/details"  <%= estimatePartFloorings.query[i].id %>"> Details</a> |
            <a href="estimatePartFlooring/edit" <%= estimatePartFloorings.query[i].id %>">  Edit </a> 
            
=======
            <td><a href="estimatePartFlooring/delete/<%=  estimatePartFloorings.query[i]._id %>">Delete</a> |
                <a href="estimatePartFlooring/details/<%=  estimatePartFloorings.query[i]._id %>">Details</a> |
                <a href="estimatePartFlooring/edit/<%=  estimatePartFloorings.query[i]._id %>">Edit</a>
>>>>>>> 4d854f7b679ec52f1e5f3e0bab914072771e8dbc
            </td>
>>>>>>> 19b6c2412aa9d4a52d073c20848a27e43ad217dc
         </tr>
         <% } %>
</tbody>
</table>
</div>
<<<<<<< HEAD
<!-- This model is managed by Team 3-5
 AjithReddy Pati
Sai Rama Rao Nayeni -->
=======
<!--This model is managed by Team 3-5
Sai Rama Rao Nayeni
AjithReddy Pati -->

>>>>>>> 6cda3bd03c20768ee40c5dbf7e1609ecff8140d6
