<br/>
<br/>
<h1>Confirm deletion of Item</h1>
<br/>
<table class="table table-hover table-bordered">
    <thead>
      <tr>
       <th>ID</th>
       <th>Description</th>
       <th>Number Of Vehicles</th>
       <th>Start Location</th>
       <th>End Location</th>
       <th>Miles Per Drive</th>
       <th>Dollars Per Mile</th>
       <th>Cost</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td> <%= estimatePartMileage._id %></td>
            <td> <%= estimatePartMileage.description %></td>
            <td> <%= estimatePartMileage.numberOfVehicles %></td>
            <td> <%= estimatePartMileage.startLocation %></td>
            <td> <%= estimatePartMileage.endLocation %></td>
            <td> <%= estimatePartMileage.milesPerDrive %></td>
            <td> <%= estimatePartMileages.query[0].dollarsPerMile %></td>
            <td> <%= estimatePartMileage.numberOfVehicles*estimatePartMileage.milesPerDrive*estimatePartMileages.query[0].dollarsPerMile %></td>
        </tr>
</tbody>
</table>
<br/>

<div class="row">
<div class="col-md-2">
<form method="get" action="/estimatePartMileage">
	<input type="submit" value="Return to list" class="btn btn-caution" />
</form>
</div>
<div class="col-md-10"> 
<form method="POST" action="/estimatePartMileage/delete/<%= estimatePartMileage._id %>">
	<button type="submit"  class="btn btn-danger pull-right" ><i class="glyphicon glyphicon-trash"></i> Delete this item</button>
</form>
</div>
</div>
<!--This view is managed by Team 5-11
Monish Verma
Abhilash Pochampally
-->