
<% console.log(estimatePartMileages.query); %>
<div class="container">
 <h2>All entries</h2>

<p>There are  <%= estimatePartMileages.query.length %> entries. <br/>
<a href="estimatePartMileage/create">Add a new one.</a></p>

<table class="table" border="1">
    <thead>
      <tr>
        <th>Subtotal</th>
       <th>Actions</th>
    </tr>
    </thead>
    <tbody>
<% for (var i = 0; i < estimatePartMileages.query.length; i++) { %>
         <tr>
            <td><%=  estimatePartMileages.query[i].subtotal %></td>
            
			<td>
            <a href="estimatePartMileage/delete/<%=  estimatePartMileages.query[i]._id %>"> Delete </a> |
							<a href="estimatePartMileage/details/<%= estimatePartMileages.query[i]._id %>"> Details </a> |
							<a href="estimatePartMileage/edit/<%=    estimatePartMileages.query[i]._id %>"> Edit </a>
            </td>
         </tr>
         <% } %>
</tbody>
</table>
</div>

<!--This view is managed by Team 5-11
Monish Verma
Abhilash Pochampally
-->