
<% console.log(estimatePartMileages.query); %>
<div class="container">
 <h2>All entries</h2>

<p>There are  <%= estimatePartMileages.query[0].entries.length %> entries. <br/>
<a href="estimatePartMileage/create" class="btn btn-primary"><i class="glyphicon glyphicon-pencil"></i> Add a new one</a></p>

<p> Following caclulations are accroding to latest mileage rate specified from the date : <strong> <%= mileageRateNow.startDate %> </strong> </p>
<table class="table table-hover table-bordered">
    <thead>
      <tr>
       <th>ID</th>
       <th>Description</th>
       <th>Number Of Vehicles</th>
       <th>Start Location</th>
       <th>End Location</th>
       <th>Miles Per Drive</th>
       <th>Dollars Per Mile</th>
       <th>Cost</th>
       <th>Options</th>
    </tr>
    </thead>
    <tbody>
<% for (var i = 0; i < estimatePartMileages.query.length; i++) { 
    var totalCost = 0;
     for(var j=0; j<estimatePartMileages.query[i].entries.length;j++){
        var entry = estimatePartMileages.query[i].entries[j];
      %>
        <tr>
            <td> <%= entry._id %></td>
            <td> <%= entry.description %></td>
            <td> <%= entry.numberOfVehicles %></td>
            <td> <%= entry.startLocation %></td>
            <td> <%= entry.endLocation %></td>
            <td> <%= entry.milesPerDrive %> m/d</td>
            <td> $<%= (mileageRateNow.dollarsPerMile).toFixed(2) %></td>
            <td> $<%= entry.numberOfVehicles*entry.milesPerDrive*mileageRateNow.dollarsPerMile %></td>
            <% totalCost += entry.numberOfVehicles*entry.milesPerDrive*mileageRateNow.dollarsPerMile %>
            <td>
            <a href="estimatePartMileage/details/<%= entry._id %>" class="btn btn-info"> <i class="glyphicon glyphicon-list-alt"></i> Details</a> 
            <a href="estimatePartMileage/edit/<%= entry._id %>" class="btn btn-warning"> <i class="glyphicon glyphicon-edit"></i>  Edit </a> 
            <a href="estimatePartMileage/delete/<%= entry._id %>" class="btn btn-danger"> <i class="glyphicon glyphicon-trash"></i> Delete </a> </td>
        </tr>
    <%    } %>
    
         </tbody>
         <tfoot>
         <tr>
            <td colspan="9" align="left"> <strong>Total Estimated Part Mileage : <span id='fnlCost' > $<%=  totalCost %></span></strong> </td>
            
         </tr>
         </tfoot>
         <% } %>
</table>
</div>

<!--This view is managed by Team 5-11
Monish Verma
Abhilash Pochampally
-->