<br/>
<br/>
<h2>Details for estimatePartAbout</h2>
<br/>
<br/>
<p>Item
	<%=  estimatePartAbout._id %>
</p>
<p>
	<%=  estimatePartAbout.client %>
</p>
<p>
	<%=  estimatePartAbout.address %> per
		<%=  estimatePartAbout.city %>
        <%=  estimatePartAbout.state %>
        <%=  estimatePartAbout.zipcode %>
		<%=  estimatePartAbout.latitude %>
		<%=  estimatePartAbout.longitude %>
</p>
<br/>
<form method="get" action="/estimatePartAbout">
	<input type="submit" value="Return to list" class="btn btn-caution" />
</form>