<% console.log(estimatePartAbouts.query); %>
<div class="container">
 <h2>All entries</h2>

<p>There are  <%= estimatePartAbouts.query.length %> entries. <br/>
<a href="/estimatePartAbout/create">Add a new one.</a></p>

<table class="table" border="1">
    <thead>
      <tr>
        <th>Client</th>
        <th>City</th>
       <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <% c=0; %>
<% for (var i = 0; i < estimatePartAbouts.query.length; i++) { %>
         <% c++; %>
         <tr>
            <td><%=  estimatePartAbouts.query[i].client %></td>
            <td><%=  estimatePartAbouts.query[i].city %></td>
            <td>Delete  Details  Edit</td>
            <td>
            <a href="/estimatePartAbout/delete/<%= c %>">Delete</a>
            <a href="/estimatePartAbout/edit/<%= c %>">Edit</a> 
            <a href="/estimatePartAbout/details/<%= c %>">Details</a>
            </td>
         </tr>
         <% } %>
</tbody>
</table>
</div>
       
