<% console.log(estimatePartAbouts.query); %>
<div class="container">
 <h2>All entries</h2>

<p>There are  <%= estimatePartAbouts.query.length %> entries. <br/>
<a href="estimatePartAbout/create"class="btn btn-primary ">Add a new one.</a></p>

<table class="table" border="1">
    <thead>
      <tr>
        <th>ID</th>
        <th>Client</th>
        <th>City</th>
        <th>Address</th>
        <th>State</th>
        <th>ZipCode</th>
        
       <th>Actions</th>
    </tr>
    </thead>
    <tbody>
<% for (var i = 0; i < estimatePartAbouts.query.length; i++) { %>
         <tr>
            <td><%=  estimatePartAbouts.query[i]._id %></td>
            <td><%=  estimatePartAbouts.query[i].client %></td>
            <td><%=  estimatePartAbouts.query[i].city %></td>
            <td><%=  estimatePartAbouts.query[i].address %></td>
            <td><%=  estimatePartAbouts.query[i].state %></td>
            <td><%=  estimatePartAbouts.query[i].zipcode %></td>
            
            
            
            <td><a href="/estimatePartAbout/delete/<%=  estimatePartAbouts.query[i]._id %>"class="btn btn-danger"> <i class="glyphicon glyphicon-trash"></i> delete</a>
            <a href="/estimatePartAbout/details/<%=  estimatePartAbouts.query[i]._id %>"class="btn btn-info"> <i class="glyphicon glyphicon-list-alt"></i> Details</a>
            <a href="/estimatePartAbout/edit/<%=  estimatePartAbouts.query[i]._id %>"class="btn btn-warning"> <i class="glyphicon glyphicon-edit"></i> edit</a>
            
            
          </td>
         </tr>
         <% } %>
</tbody>
</table>
</div>