
<!-- Sangaraju SunilKumar-->
<!-- Kuchana Deepak-->
<!-- pothireddy subbareddy-->

<% console.log(estimatePartRoofings.query); %>
<div class="container">
 <h2>All entries</h2>

<p>There are  <%= estimatePartRoofings.query.length %> entries. <br/>
<a href="estimatePartRoofing/create" class="btn btn-success">Add a new one.</a></p>

<table class="table" border="1">
    <thead>
      <tr>
        <th>ID</th>
        <th>Roof Type</th>
        <th>Process Type</th>
        <th>Total Cost</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <% var subTotal = 0 %>
<% for (var i = 0; i < estimatePartRoofings.query.length; i++) { 
    subTotal += estimatePartRoofings.query[i].subtotal;
    %>
         <tr>
            <td><%=  estimatePartRoofings.query[i]._id %></td>
            <td><%=  estimatePartRoofings.query[i].roofType %></td>
            <td><%=  estimatePartRoofings.query[i].processType %></td>
            <td> $<%=  estimatePartRoofings.query[i].subtotal %></td>
            <td>
                <a href="estimatePartRoofing/details/<%= estimatePartRoofings.query[i]._id %>" class="btn btn-info">Details</a>
                <a href="estimatePartRoofing/edit/<%= estimatePartRoofings.query[i]._id %>" class="btn btn-primary">Edit</a>
                <a href="estimatePartRoofing/delete/<%= estimatePartRoofings.query[i]._id %>" class="btn btn-danger">Delete</a></td>
         </tr>
         <% } %>
</tbody>
</table>
<p> Total Estimated Cost for Roofing : <strong> $<%= subTotal %> </strong> </p>
</div>
