<br/>
<br/>
<br/>
<h2>Confirm deletion of <%= title %></h2>
<br/>
<table class="table table-hover table-bordered">
	<thead>
		<th>Item ID : </th>
		<th> Description : </th>
		<th> Cost : </th>
	</thead>
	<tbody>
		<tr>
			<td> <%=  estimatePartMisc._id %> </td>
			<td> <%=  estimatePartMisc.description %></td>
			<td><%=  estimatePartMisc.cost %> </td>
		</tr>
	</tbody>
</table>

<br/>
<form method="get" action="/estimatePartMisc">
	<input type="submit" value="Return to list" class="btn btn-caution" />
</form>
<form method="POST" action="/estimatePartMisc/delete/<%= estimatePartMisc._id %>">
	<input type="submit" value="Delete this item" class="btn btn-danger pull-right" />
</form>
<!--This view is managed by Team 5-11
Monish Verma
Abhilash Pochampally
-->